.loading {
  position: relative;
  left: 45%;
  top: 50%;
}

.charge-text {
  margin-top: 25px;
  color: darkgray;
}
.read-more {
  margin-top: 5px;
  cursor: pointer;
}

.main {
  min-height: 300px;
}
